*{
    box-sizing: border-box;
}
body{
    background-image: url(../jpg/sea.jpg);
    background-size:cover;
}
.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }
  #title{
    font-family: "Black Ops One", serif;
    color:white;
    text-align: left;
    font-size:4rem;
    margin-left:20px;
    width: 50%;
    height: 300px;
  }
  #title h1{
    margin-bottom: 0px;
    word-wrap: break-word;
  }
  #title p {
    font-size: 1.3rem;
    margin-top: -30px;
    margin-left: 10px;
    font-family: serif;
    letter-spacing: 0.5px;
  }
  .flex{
    display: flex;
    align-items: center;
  }
#intrudaction{
    width:55%;
    color:white;
    padding:20px 30px;
    background-color: rgba(200,200,200,0.5);
    border-radius: 10px 10px;
    min-width: 350px;
    align-items: center;
    margin:0 auto;
    text-align:center;
    max-width:400px;
}
#leave-questions{
    width:80%;
    min-width:350px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(200,200,200,0.8);
    border-radius:20px 20px;
    font-size:1.3em;
    color:white;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
    max-width: 500px;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height:600px;
    width: 40%;
    margin-top:9%;
}
button{
    display:block;
    width: 80px;
    height: 30px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
border-radius:10px 10px;
}
input,textarea{
    border-radius: 10px 10px;
    border:none;
    margin-top:10px;
}
input{
    width:180px;
}
h2{
    font-size:2em;
    margin-bottom: 30px;
}
h3{
    font-size: 1em;
}
header{
    text-align: center;
    font-family: "Jersey 15", serif;
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-top: 80px;
    color:rgba(0,0,0,0.9);
}
nav ul{
    display:flex;
    list-style: none;
    padding:20px;
    font-size:20px;
    font-weight: bolder;
    justify-content: flex-end;
    background-color: rgba(200,200,200,0);
    width:100%;
    margin: 0;
}
li{
    margin-left: 3%;
    background-color: burlywood;
    padding:10px 20px;
    border-radius: 10%;
    font-style: italic;
    color:white;
}
nav{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 100;
    height: 80px;
}
li:hover{
    background-color: aquamarine;
    color:burlywood;
}
a:hover{
    color:burlywood;
}
a{
    color:white;
    text-decoration: none;
}
a:active{
    color:blueviolet;
}
@media screen and (max-width:440px) {
    nav ul{
        flex-direction: column;
        padding-right:3px;
        padding-top:30px;
    }
    ul li{
        min-width: 90px;
        margin-bottom:10px;
        max-width:100px;
        margin-left:auto;
        margin-right:0;
    }
}
footer{
    color:white;
    text-align: center;
    margin-bottom: 50px;
    margin-top:0px;
}
li:hover{
    animation-name:select;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes select {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
@media screen and (max-width:1300px){
    .flex{
        flex-direction: column;
    }
    main{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:30px;
        margin-top:10px;
        width:100%;
    }
    #title{
        margin:10px auto;
        text-align: center;
        width:100%;
    }
}
@media screen and (max-width:680px) {
    h1{
        font-size: 3rem;
        margin-top:100px;
    }
    #title p{
        margin-top:10px;
    }
}