*{
    box-sizing: border-box;
}
body{
    background-image: url(../jpg/sea.jpg);
    background-size:cover;
}
#intrudaction{
    width:40%;
    color:#003366;
    padding:20px 30px;
    margin:auto auto;
    background-color: rgba(200,200,200,0.5);
    border-radius: 10px 10px;
    min-width: 300px;
    align-items: center;
}
#leave-questions{
    width:20%;
    min-width:300px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(200,200,200,0.8);
    border-radius:20px 20px;
    font-size:1.3em;
    color:white;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;
    margin:200px auto;
}
main{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
button{
    display:block;
    width: 80px;
    height: 30px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
border-radius:10px 10px;
}
input,textarea{
    border-radius: 10px 10px;
    border:none;
    margin-top:10px;
}
h2{
    font-size:2em;
    margin-bottom: 30px;
}
h3{
    font-size: 1em;
}
header{
    text-align: center;
    font-family: "Jersey 15", serif;
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-top: 80px;
    color:rgba(0,0,0,0.9);
}
nav ul{
    display:flex;
    list-style: none;
    padding:20px;
    font-size:20px;
    font-weight: bolder;
    justify-content: flex-end;
    background-color: rgba(200,200,200,0.2);
    width:100%;
    margin: 0;
}
li{
    margin-left: 3%;
    background-color: burlywood;
    padding:10px 20px;
    border-radius: 10%;
    font-style: italic;
    color:aquamarine
}
nav{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 100;
    height: 80px;
}
li:hover{
    background-color: aquamarine;
    color:burlywood;
}
a:hover{
    color:burlywood;
}
a{
    color:aquamarine;
    text-decoration: none;
}
a:active{
    color:blueviolet;
}
@media screen and (max-width:440px) {
    nav ul{
        flex-direction: column;
        padding-right:3px;
        padding-top:30px;
    }
    ul li{
        min-width: 90px;
        margin-bottom:10px;
        max-width:100px;
        margin-left:auto;
        margin-right:0;
    }
}
footer{
    color:white;
    text-align: center;
    margin-bottom: 50px;
    margin-top:0px;
}