
body{
    background-image: url(sea.jpg);
    background-size:cover;
}
#intrudaction{
    width:50%;
    border:2px solid black;
    color:white;
}
#leave-questions{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(200,200,200,0.8);
    border-radius:20px 20px;
    font-size:1.5em;
    color:white;
}
main{
    display:flex;
    margin:200px auto;
}
button{
    display:block;
    width: 80px;
    height: 30px;
    border:none;
    margin-top:20px;
    margin-bottom:20px;
border-radius:10px 10px;
}
input,textarea{
    border-radius: 10px 10px;
    border:none;
    margin-top:10px;
}
